<!DOCTYPE html>
<html>
    <head>

    <style>
    p {
    margin: 10px 10px 10px 10px;
    }
    </style>
    <title>
        Mix It Up!
    </title>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@800&amp;display=swap" rel="stylesheet">
    <style>
            body {
                background-image: linear-gradient(#000000,#CACACA,#FFFFFF);
                margin: 0px;
            }
            .container{
                display: inline-block;
                width: 100%;
                flex-direction: column;
                margin: 0px;
            }
            .headerContainer {
                position: relative;
                align-items: center;
                justify-content: center;
            }
            .inContainer {
                display: flex;
                flex-direction: row;
                font-family: 'Inter';
            }
            .spectrum {
                top: 20px;
                width: 100%;
                z-index: -1;
                height: 100%;
                position: fixed;
                object-fit: fill;
                /* display: flex;
                align-items: flex-end; */
            }
            .titleBubble {
                width: fit-content;
                padding-left: 40px;
                padding-right: 40px;
                padding-top: 20px;
                padding-bottom: 20px;
                background-color:#00000030;
                border-radius: 50px;
                color:white;
                font-size: 75px;
                font-weight:800;
                align-items: center;
                justify-content: center;
                font-family: 'Inter';
                backdrop-filter: blur(20px);
                z-index: 1;
                position: relative;
                margin: 20px auto 20px auto;
                /* filter: drop-shadow(5px 4px 2px #00000050); */
            }
            .titleText {
                text-shadow: 2px 2px 2px #00000050
            }
            .module {
                height: 400px;
                width: 33.33%;
                padding: 20px;
                text-align: center;
            }
            /* .test {
                outline-style: solid;
                outline-color: green;
                outline-width: 1px;
            }  */
            .label {
                font-size: 20px;
                font-weight: bold;
                color: #FFFFFF;
                text-shadow: 2px 2px 2px #00000050
            }

            .textarea {
                margin-top: 15px;
                width: 23vw;
                height: 335px;
                font-size: 16px;
                padding: 10px;
                resize: none;
                border-radius: 20px;
                border: none;
                filter: drop-shadow(2px 2px 2px #00000025);
            }
            .button {
                background-color: white;
                border: none;
                font-family: 'Inter';
                color: black;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 10px;
                filter: drop-shadow(2px 2px 2px #00000025);
                font-weight: bold;
            }
            .button:hover {
                filter: none;
                background-color: #EBEBEB;
            }
            #footer {
            height: 50px; /* the footer's total height */
            text-align: center;
            }

            #footer-text {
            background-color: #f3e5f5;
            border: 0px solid #ab47bc;
            height: 20px; /* height + top/bottom paddding + top/bottom border must add up to footer height */
            padding: 20px;
            font-family: 'Inter';
            }
    </style>
</head>
<body>
    <div class="container test">
        <div class="headerContainer test">
            <div class="spectrum">
                <svg width=100vw height=151px viewBox="0 0 1436 180" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M959 180H479L654.5 -1H782.5L959 180Z" fill="#FED700"/>
                    <path d="M959 180H479L654.5 -1H782.5L959 180Z" fill="black" fill-opacity="0.2"/>
                    <path d="M526 -0.432602L0 180L478.5 180H479L654.5 -1L526 -0.432602Z" fill="#FE218B"/>
                    <path d="M526 -0.432602L0 180L478.5 180H479L654.5 -1L526 -0.432602Z" fill="black" fill-opacity="0.2"/>
                    <path d="M910.402 -1L1436 180H959.365L783 -1H910.402Z" fill="#21B0FE"/>
                    <path d="M910.402 -1L1436 180H959.365L783 -1H910.402Z" fill="black" fill-opacity="0.2"/>
                </svg>
            </div>
            <div class="titleBubble test">
                <div class="titleText test">
                    <span style="color:#FF8EC4;">MIX</span>
                    <span style="color:#FFE760;"> IT</span>
                    <span style="color:#9ADBFF;"> UP!</span>
                </div>
            </div>
        </div><%= form_with model: @recipe do |form| %>
    <div>
        <div class="inContainer test">
            <div style="background-color: #FE218B" class="module test">
                <%= form.label :ingredients, class: 'label'%><br>
                <%= form.text_area :ingredients, class: 'textarea', placeholder:"What do you have in your pantry? List with commas!" %>
            </div>
        <div style="background-color: #FED700" class="module test">
            <%= form.label :origin, class: 'label' %><br>
            <%= form.text_area :origin, class: 'textarea', placeholder: "Pick any nation from around the world!" %>
            </div>
            <div style="background-color: #21B0FE" class="module test">
            <p class="label">
                Try this out!
            </p>
            <%= form.submit class:"button" %>
            </div><%end %>
        </div>
        </div>
        <footer id="footer">
        <div id="footer-text">Built with ♥️ by <a href="https://www.linkedin.com/in/rachel-channell-9528a3215/" target="_blank"> Rachel</a>, <a href="https://www.linkedin.com/in/biashok" target="_blank"> Bia</a>, <a href="https://devpost.com/TaufeqRazakh" target="_blank"> Taufeq</a>, and <a href="https://joshuawolk.framer.website/" target="_blank"> Josh</a></div>
        </footer>
    </body>
</html>
